.section {
  border: 1px solid #eee;
  background-color: #fff;
}

.section__header {
  border: none;
  margin-left: 20px;
  font-size: 20px;
  height: 20px;
}

.section__list {
  margin-top: 6px;
  padding: 0;
}

.section--tasks {
  padding: 4px;
  border: none;
  display: grid;
  text-align: center;
grid-template-columns: repeat(6fr);
grid-template-areas:
"left center center center center right";

}

.section--tasks-itemTask {
    grid-area: center;
}

.section--tasks-itemCheck {
    grid-area: left;
}

.section--tasks-itemDelete{
grid-area: right;
}

.section--tasks-itemCheck {

display: grid;

  }

.section--tasks-itemDelete-button {
    padding: 10px;
}

.section--tasks-item {
padding: 10px;
margin: 10px 0 10px 0;
border-bottom: 1px solid #eee;
display: grid;
align-items: center;
justify-content: center;
}

.section__form {
  display: flex;
  padding: 15px 10px;
  margin: 10 auto;
}

.section__form--input {
  border: 1px solid #eee;
}

.section__form--button {
  background-color: teal;
  color: #fff;
  border: none;
}

.section__form--item {
  width: 20%;
  text-align: center;
  padding: 8px;
  margin: 5px;
}

.section__form--item-input {
  width: 80%;
  text-align: left;
}

@media (max-width: 767px) {
  .section__form {
    flex-wrap: wrap;
  }
  .section__form--item {
    width: 100%;
  }
}

