.section {
  border: 1px solid #eee;
  background-color: #fff;
  box-shadow: 0 0 5px #ddd;
}

.section__header {
  margin-left: 20px;
  font-size: 20px;
}

.section__list {
  padding: 10px;
  margin: 0;
  min-height: 28px;
}

.section--listTitle {
  margin-top: 6px;
  padding: 0;
}

.section--tasks {
  padding-top: 10px;
}

.section__item {
  padding: 10px 0 0 0;
  margin: 10px;
  border-bottom: 1px solid #eee;
  display: grid;
  grid-template-columns: 40px 1fr 40px;
  grid-gap: 5px;
}

.section__item--content {
  display: flex;
  align-items: center;
  justify-content: left;
}

.section__item--button {
  width: 24px;
height: 24px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6px;
}

.section__item--button-icon {
width: 18px;
height: 18px;
}

.section__item--button-remove {
 background-color: rgb(218, 6, 6);
 transition: 1.2s;
}

.section__item--button-remove:hover {
  background-color: hsl(0, 100%, 60%);
}
.section__item--button-remove:active {
background-color: hsl(0, 100%, 70%);
}

.section__item--button-toggleDone {
  background-color: green;
  transition: 1.2s;
}

.section__item--button-toggleDone:hover {
  background-color: hsl(120, 100%, 35%);
}

.section__item--button-toggleDone:active {
  background-color: hsl(120, 100%, 45%);
}

.section__form {
  display: flex;
  padding: 15px 10px;
}

.section__form--button {
  background-color: teal;
  color: #fff;
  cursor: pointer;
  border: none;
  transition: 1.2s;
}

.section__form--button:hover {
  background-color: hsl(180, 100%, 35%);
  transform: scale(1.1);
}

.section__form--button:active {
  background-color: hsl(180, 100%, 45%);
}

.section__form--item {
  width: 20%;
  padding: 8px;
  margin: 4px 8px;
}

.section__form--input {
  border: 1px solid #eee;
  width: 80%;
  text-align: left;
}

@media (max-width: 767px) {
  .section__form {
    flex-wrap: wrap;
  }
  .section__form--item {
    width: 100%;
  }
}
