.section {
  border: 1px solid #eee;
  background-color: #fff;
}

.section__header {
  margin-left: 20px;
  font-size: 20px;
}

.section__list {
  padding: 10px;
  margin: 0;
 min-height: 28px;
}

.section--size {
  margin-top: 6px;
  padding: 0;
}

.section--tasks {
  padding-top: 10px
}

.section__item {
  padding-top: 10px;
  margin: 4px;
  border-bottom: 1px solid #eee;
  display: grid;
  grid-template-columns: 36px 1fr 36px;
  grid-gap: 4px;
}

.section__item--element {
  display: flex;
  align-items: center;
  justify-items: center;
  margin: auto;
}

.section__item--content {
  display: flex;
  align-items: center;
  justify-content: left;
}

.section__item--button {
  border: none;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}

.section__item--button-done {
  background-color: green;
  border: 6px solid#fff;
  height: 32px;
  width: 32px;
}

.section__item--button-checked {
  width: 16px;
  height: 16px;
}

.section__form {
  display: flex;
  padding: 15px 10px;
}

.section__form--button {
  background-color: teal;
  color: #fff;
  cursor: pointer;
  border: none;
}

.section__form--item {
  width: 20%;
  padding: 8px;
  margin: 4px 8px;
}

.section__form--input {
  border: 1px solid #eee;
  width: 80%;
  text-align: left;
}

@media (max-width: 767px) {
  .section__form {
    flex-wrap: wrap;
  }
  .section__form--item {
    width: 100%;
  }
}